* text=auto

*.R text eol=lf
*.Rmd text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.csv text eol=lf
*.tsv text eol=lf

*.rds binary
*.Rds binary
*.RDS binary
*.h5 binary
*.h5ad binary
*.mtx binary
*.parquet binary
*.zarr binary
*.zarr.zip binary
*.ome.tif binary
*.ome.tiff binary
*.czi binary
*.npy binary
*.npz binary
*.pdf binary
*.png binary
*.jpg binary
*.jpeg binary
*.xlsx binary
